body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#fullscreen-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.controls-container {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#play-pause-btn {
  font-size: 36px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
  padding: 10px;
}

#play-pause-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

#spotify-btn {
  display: inline-block;
  background-color: #1DB954;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}

#spotify-btn:hover {
  background-color: #1ED760;
}
